a {
  text-decoration: none;
}

svg {
  margin-top: -3px;
}

#login-button-group {
  display: block;
}

.carousel-inner {
  border-radius: 10px;
}
.footer p {
  margin-bottom: 0;
}
.main-body {
  min-height: 90vh;
}
.categories-list {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  margin-bottom: 30px;
}

.categories-list div a {
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .categories-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom: 30px;
  }  
}